<!--common/change_password.html-->

{% extends "base.html" %}
{% block content %}
<style>
    #main{
        text-align : center;
        width : 800px; 
        margin: 0 auto;
    }
    h1{
        margin:40px;
        font-size:30px;
    }
    #id_box{
        margin:30px;
    }

</style>
<div id="main">
    <h1>비밀번호 변경</h1>
    <div id="id_box">
        ID : {{request.user.username}}
    </div>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{password_change_form}}
    <br>
    <button type = "submit" class="btn btn-primary"> Save </button>
    </form>
</div>
{% endblock %}