{% extends "base.html" %}

{% block content %}
<style>
    #main{
        text-align : center;
        width : 800px; 
        margin: 0 auto;
    }
    h1{
        margin:100px;
    }
    button{
        width:300px;
        height:100px;
    }
</style>
<div id="main">
    <h1>Sunyong World. com</h1>
    {% if user.is_authenticated %}
    <button type = "button" class="btn btn-primary" onclick="location.href='{% url 'sunyong:upload_video' %}'"> 파일을 입력하세요 </button>
    {% else %}
    <button type = "button" class="btn btn-primary" onclick="location.href='{% url 'common:login' %}'"> 로그인 하세요 </button>
    {% endif %}
</div>
{% endblock %}