{% extends "base.html" %}

{% block content %}
<style>
    #main{
        text-align : center;
        width : 800px; 
        margin: 0 auto;
    }
    h1{
        margin:100px;
    }
    button{
        width:300px;
        height:100px;
    }
    table{
        width:800px;
        height:200px;
        text-align:center;
    }
</style>
<div id="main">
    <h1>My storage</h1>
    <center>
        <table border="1">
            <th>something</th>
            <th>something</th>
            <th>something</th>
            <tr>
                <td>something</td>
                <td>something</td>
                <td>something</td>
            </tr>
            <tr>
                <td>something</td>
                <td>something</td>
                <td>something</td>
            </tr>
            <tr>
                <td>something</td>
                <td>something</td>
                <td>something</td>
            </tr>
            <tr>
                <td>something</td>
                <td>something</td>
                <td>something</td>
            </tr> <!-- for문 처리해줘야함-->
        </table>
    </center>
</div>
{% endblock %}

